:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  --radius: 8px;
  --padding: 24px;
  --light: #f8f9fa;
  --dark: #264653;
  --green: #2a9d8f;
  /* --yellow: #e9c46a; */
  /* --orange: #f4a261; */
  /* --achtung: #e76f51; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--light);
  color: var(--dark);
}
